{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
<style>

</style>

<div id="about" class="col-4 offset-4">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="https://i.pinimg.com/236x/52/6d/34/526d348e1f22851dab0f7adc2367c1dd--flat-illustration-pictogram.jpg">
    </div>
</div>
{% endblock %}
